@font-face {
  font-family: "Avenir";
  src: url("./Avenir/AvenirLTStd-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  src: url("./Avenir/AvenirLTStd-LightOblique.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Avenir";
  src: url("./Avenir/AvenirLTStd-Book.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  src: url("./Avenir/AvenirLTStd-BookOblique.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Avenir";
  src: url("./Avenir/AvenirLTStd-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  src: url("./Avenir/AvenirLTStd-MediumOblique.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Avenir";
  src: url("./Avenir/AvenirLTStd-Heavy.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  src: url("./Avenir/AvenirLTStd-HeavyOblique.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Avenir";
  src: url("./Avenir/AvenirLTStd-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  src: url("./Avenir/AvenirLTStd-BlackOblique.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
}
