@font-face {
  font-family: "Editors Note";
  src: url("./EditorsNote/Editor_sNote-Hairline.woff2") format("woff2"),
       url("./EditorsNote/Editor_sNote-Hairline.ttf") format("truetype");
  font-weight: 50;
  font-style: normal;
}

@font-face {
  font-family: "Editors Note";
  src: url("./EditorsNote/Editor_sNote-HairlineItalic.woff2") format("woff2"),
       url("./EditorsNote/Editor_sNote-HairlineItalic.ttf") format("truetype");
  font-weight: 50;
  font-style: italic;
}

@font-face {
  font-family: "Editors Note";
  src: url("./EditorsNote/Editor_sNote-Thin.woff2") format("woff2"),
       url("./EditorsNote/Editor_sNote-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Editors Note";
  src: url("./EditorsNote/Editor_sNote-ThinItalic.woff2") format("woff2"),
       url("./EditorsNote/Editor_sNote-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Editors Note";
  src: url("./EditorsNote/Editor_sNote-Extralight.woff2") format("woff2"),
       url("./EditorsNote/Editor_sNote-Extralight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Editors Note";
  src: url("./EditorsNote/Editor_sNote-ExtralightItalic.woff2") format("woff2"),
       url("./EditorsNote/Editor_sNote-ExtralightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Editors Note";
  src: url("./EditorsNote/Editor_sNote-Light.woff2") format("woff2"),
       url("./EditorsNote/Editor_sNote-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Editors Note";
  src: url("./EditorsNote/Editor_sNote-LightItalic.woff2") format("woff2"),
       url("./EditorsNote/Editor_sNote-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Editors Note";
  src: url("./EditorsNote/Editor_sNote-Regular.woff2") format("woff2"),
       url("./EditorsNote/Editor_sNote-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Editors Note";
  src: url("./EditorsNote/Editor_sNote-Italic.woff2") format("woff2"),
       url("./EditorsNote/Editor_sNote-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Editors Note";
  src: url("./EditorsNote/Editor_sNote-Semibold.woff2") format("woff2"),
       url("./EditorsNote/Editor_sNote-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Editors Note";
  src: url("./EditorsNote/Editor_sNote-SemiboldItalic.woff2") format("woff2"),
       url("./EditorsNote/Editor_sNote-SemiboldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
