@font-face {
  font-family: "Garet";
  src: url("./Garet/Garet\ W05\ Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Garet";
  src: url("./Garet/Garet\ W05\ Extra\ Bold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}
