@font-face {
  font-family: "Gill Sans";
  src: url("./GillSansStd/GillSansStd-Light.otf") format("otf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gill Sans";
  src: url("./GillSansStd/GillSansStd-LightItalic.otf") format("otf");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Gill Sans";
  src: url("./GillSansStd/GillSansStd.otf") format("otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gill Sans";
  src: url("./GillSansStd/GillSansStd-Italic.otf") format("otf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Gill Sans";
  src: url("./GillSansStd/GillSansStd-Bold.otf") format("otf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gill Sans";
  src: url("./GillSansStd/GillSansStd-BoldItalic.otf") format("otf");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Gill Sans";
  src: url("./GillSansStd/GillSansStd-ExtraBold.otf") format("otf");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gill Sans";
  src: url("./GillSansStd/GillSansStd-UltraBold.otf") format("otf");
  font-weight: 900;
  font-style: normal;
}
