@font-face {
  font-family: "Metropolis";
  src: url("./Metropolis/Metropolis-Thin.ttf") format("truetype");
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: "Metropolis";
  src: url("./Metropolis/Metropolis-ThinItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 100;
}

@font-face {
  font-family: "Metropolis";
  src: url("./Metropolis/Metropolis-ExtraLight.ttf") format("truetype");
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: "Metropolis";
  src: url("./Metropolis/Metropolis-ExtraLightItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 200;
}

@font-face {
  font-family: "Metropolis";
  src: url("./Metropolis/Metropolis-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Metropolis";
  src: url("./Metropolis/Metropolis-LightItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: "Metropolis";
  src: url("./Metropolis/Metropolis-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Metropolis";
  src: url("./Metropolis/Metropolis-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Metropolis";
  src: url("./Metropolis/Metropolis-MediumItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 500;
}

@font-face {
  font-family: "Metropolis";
  src: url("./Metropolis/Metropolis-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Metropolis";
  src: url("./Metropolis/Metropolis-SemiBoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 600;
}

@font-face {
  font-family: "Metropolis";
  src: url("./Metropolis/Metropolis-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Metropolis";
  src: url("./Metropolis/Metropolis-BoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: "Metropolis";
  src: url("./Metropolis/Metropolis-ExtraBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: "Metropolis";
  src: url("./Metropolis/Metropolis-ExtraBoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 800;
}

@font-face {
  font-family: "Metropolis";
  src: url("./Metropolis/Metropolis-Black.ttf") format("truetype");
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: "Metropolis";
  src: url("./Metropolis/Metropolis-BlackItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 900;
}
