@font-face {
  font-family: "Sohne";
  src: url("./Sohne/Sohne-Extraleicht.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Sohne";
  src: url("./Sohne/Sohne-Leicht.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Sohne";
  src: url("./Sohne/Sohne-Buch.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Sohne";
  src: url("./Sohne/Sohne-Kraftig.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Sohne";
  src: url("./Sohne/Sohne-Halbfett.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Sohne";
  src: url("./Sohne/Sohne-Dreiviertelfett.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Sohne";
  src: url("./Sohne/Sohne-Fett.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Sohne";
  src: url("./Sohne/Sohne-Extrafett.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}
